body{
         
 
}
header{
    background-image: url(imagenes/laboratoria.png); 
 
    
}

h1{
    text-align-last: right;
    font-size: 2em;
    padding-right: 1em;
    padding-top: 5em;  
    color: #9C9494;

}


#header{
  margin-left: 4%;
  margin-top: 5%;
}

.nav > li  {
   display: inline-block;
   font-size: 1em;      
   background-color: #22FD5F
}

.nav > li > a {
    margin-left: 2.5em;
    display: block;
    padding: 10px 18px;
    width: 115px;
    background-color: black;
    color: yellow;
    text-decoration: none;
    text-align-last: center;    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}
p{
    text-align-last: center;
    color: black;
    font-family: sans-serif;
    font-size: 2em;
    margin-top: 4em;
}
#sedes{
    font-size: 1.2em;
    padding: 5px;
    display: block;
  
    
    
}
#ok{
    color:#ff009e;
    margin-top: 1em;
}

#search{
    margin-right: auto;
}