header img{
    width: 30%;
    height: 115px;
     
}
img{
   display: block;
   margin: auto;
   
}
#pink{
    background-color: #ff009e;
    padding: 1px 5px 5px 1px;    
    width:auto;
  }
 nav ul li  a {   
    padding: 10px 35px;
    background-color: #ffe521;
    color: black;
    text-decoration: none; 
    
}
nav li {
    display: inline-block;
    font-size: 1em;      
}
nav form{
    display: inline-block;
    font-size: 1em;  

}
P{
    
    text-align: center;
    margin-top: 1em;
    font-size: 1.5em;
}
select{
    margin-left: 50%;
    margin-right: 50%;
}
